
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  background: #FFFFFF;
  padding: 1px;
  border: 1px solid #E2E3E5;
  border-radius: 6px;
  flex-grow: 1;
}

.disabled {
  opacity: 0.5;
  color: #4b4b4b;
  cursor: default;
}

.secondary {
  background: #0066CC;
  color: #FFFFFF;
  height: 64px;
}

.default {
  /*background: #0066CC;*/
  color: #000;
}

.red {
  background: #CC1439;
  color: #ffffff;
}

.default:hover {
  border: 2px solid #5D5FEF;
  padding: 0;
}

.red:hover {
  background: #FF1A47;
}

.secondary:hover {
  background: #006bd7;
  color: #FFFFFF;
}

.default:active {
  background: #5D5FEF;
}

.secondary:active {
  background: #004b96;
  color: #FFFFFF;
}

.red:active {
  background: #B21232;
}

.button:disabled {
  opacity: 0.5;
  color: #002E5C;
  cursor: default;
}