.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  background: #ffffff;
  padding: 1px;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
  flex-grow: 1;
  cursor: pointer;
}

.secondary {
  background: #0066cc;
  color: #ffffff;
  height: 64px;
}

.default {
  color: #000;
}

.default:hover {
  border: 2px solid #5d5fef;
  padding: 0;
}

.secondary:hover {
  background: #006bd7;
  color: #ffffff;
}

.default:active {
  background: #5d5fef;
}

.secondary:active {
  background: #004b96;
  color: #ffffff;
}

.button:disabled {
  /*opacity: 0.8;*/
  color: #002e5c;
  cursor: default;
  border: 1px solid #e2e3e5;
  background: #ffffff;
  padding: 1px;
}
.secondary:disabled {
  background: #93c9ff;
}
