.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  background: #ffffff;
  padding: 1px;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
  flex-grow: 1;
}

.disabled {
  opacity: 0.5;
  color: #4b4b4b;
  cursor: default;
}

.secondary {
  background: #0066cc;
  color: #ffffff;
  height: 64px;
}

.default {
  /*background: #0066CC;*/
  color: #000;
}

.red {
  background: #cc1439;
  color: #ffffff;
}

.default:hover {
  border: 2px solid #5d5fef;
  padding: 0;
}

.red:hover {
  background: #ff1a47;
}

.secondary:hover {
  background: #006bd7;
  color: #ffffff;
}

.default:active {
  background: #5d5fef;
}

.secondary:active {
  background: #004b96;
  color: #ffffff;
}

.red:active {
  background: #b21232;
}

.button:disabled {
  opacity: 0.5;
  color: #002e5c;
  cursor: default;
}
