.tablo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  gap: 8px;
}

.edit {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}
