.tablo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  gap: 8px;
  z-index: 1;
}

.edit {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}
.edit::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.opacity {
  background-color: white;
  box-shadow: none;
  opacity: 0.4;
}

.visibility {
  visibility: hidden;
}
