.toggler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  padding: 1px;
  width: 243px;
  height: 38px;
  margin-bottom: 40px;
  background: #f3f4f6;
  border-radius: 6px;
}

.toggleButton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #e2e3e5;
  border-radius: 5px;
  flex: none;
  /*order: 1;*/
  flex-grow: 1;
}
.toggleButton:disabled {
  gap: 10px;
  background: #f3f4f6;
  border: 1px solid #f3f4f6;
}
.toggleButton:hover {
  background: #9bb8f3;
  color: #002a81;
}
