.blocks {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 243px;
  min-height: 452px;
  border-radius: 6px;
  gap: 12px;
}

.spacer {
  padding: 1px;
  width: 243px;
  height: 38px;
  margin-bottom: 40px;
}

.dash {
  border: 2px dashed #c4c4c4;
}

.background {
  background: #d1e0ff;
}
