.blocks {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.block {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 243px;
  min-height: 452px;
  border-radius: 6px;
  gap: 12px;
}

.spacer {
  padding: 1px;
  width: 243px;
  height: 38px;
  margin-bottom: 40px;
}
.dragHere {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #d9e6ff;
  left: 0;
  top: 0;
  z-index: -1;
}
p {
  text-align: center;
  font-size: 12px;
  font-family: SansSerif, serif;
  color: #505050;
}

.dash {
  border: 2px dashed #c4c4c4;
}

.background {
  background: #d1e0ff;
}
