.gridTablo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    grid-gap: 8px
}